<!-- This is just a placeholder. Feel free to do here whatever you would like to. -->
<h1>Search for customers:</h1>
<div>
  <input type="text" #inputSearch />
  <input
    type="submit"
    value="Search"
    (click)="executeSearch(inputSearch.value)"
  />
  <input type="submit" value="Clear" (click)="clearSearch()" />
</div>
<app-search-status [status]="currentSearchStatus"></app-search-status>
<div *ngIf="currentSearchStatus === searchStatus.HAS_RESULTS">
  <app-search-result [searchResult]="searchResult"></app-search-result>
  <button (click)="executeSave(inputSearch.value)">Save</button>
</div>
