<ul>
  <li *ngFor="let user of searchResult">
    <span *ngIf="user.type === 'user'">
      😎
    </span>
    <span *ngIf="user.type === 'merchant'">
      🏭
    </span>
    {{ user.name }} {{ user.id }}
  </li>
</ul>
