<div *ngIf="status === searchStatus.IS_SEARCHING">
  Searching...
</div>
<div *ngIf="status === searchStatus.NO_RESULTS">
  0 results
</div>
<div *ngIf="status === searchStatus.ERROR_OCCURED">
  Something went wrong!
</div>
